body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(http://cabinetsbybuz.com/wp-content/uploads/2014/09/website-background.jpg);
}

a {
  color: #00B7FF;
}

h1, h3 {
  color: white;
}

dl {
  color: white;
  font-size: 20px;
}

.dl-horizontal dt {
    white-space: normal;
}

#library {
	margin: 0 auto;
}

#library .library-item {
	display: block;
	float: left;
	width: 400px;
	height: 200px;
	-webkit-perspective: 1000px;
	margin: 15px;
}

#library .library-item .primary,
#library .library-item .secondary {
	display: block;
	width: 400px;
	height: 200px;
	background: #CCC;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	border-radius: 10px;
	overflow: hidden;
}

#library .library-item .secondary {
	padding: 20px;
	width: 400px;
	height: 200px;
}

#library .library-item .secondary h2 {
	margin-top: 0px;
}

.game-tile{
  width: 100%;
  height: 100%;
}

.primary {
  position: absolute;
  z-index: 1;
}

.primary,
.secondary{
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: -webkit-transform 1s;
  transition: transform 1s;
}

.secondary {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.library-item:hover .primary{
  -webkit-transform: rotateX(-180deg);
  transfrom: rotateX(-180deg);
}

.library-item:hover .secondary{
  -webkit-transform: rotateX(0);
  transform: rotateX(0);
}

.game-details {
    max-height: 100px;
    transition: 1s;
    color: white;
    overflow: hidden;
}

.game-details.hidden {
    max-height: 0;
}
