<h3>Search by Game Name:</h3>
<input type="text" style="width:500px"class="form-control" ng-model="search.steam.name">

<div ng-repeat="game in games | filter:search">
  <div id="library">
      <div class="library-item">
        <div class="primary">
          <img check-image  class="game-tile" ng-src="https://steamcdn-a.akamaihd.net/steam/apps/{{game.steam.appid}}/header.jpg"
          err-SRC="https://steamcdn-a.akamaihd.net/steamcommunity/public/images/apps/{{game.steam.appid}}/{{game.steam.img_logo_url}}.jpg">
        </div>
        <div class="secondary">
          <h2><a href="/#/dashboard/{{user.steamid}}/game/{{game.steam.appid}}">{{ game.steam.name }}</a></h2>
          <p>{{ game.gb.deck }} </p>
        </div>
    </div>
  </div>
</div>
